@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
*{
  padding: 0;
  margin: 0;
}
body{
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}


.quiz-container-inner{
  position: relative;
  background: #fff;
}
.correct{
  position: absolute;
  width: 100px;
  height: 100px;
  opacity: 0;
  visibility: hidden;
  border-radius: 9999px;
  background: #ff2255;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.correct::after{
  position: absolute;
  content: "";
  display: block;
  z-index:1;
  width: 80px;
  height: 80px;
  border-radius: 9999px;
  background: #fff;
}
.correct.is-active{
  animation: appearAndDisappear 1.5s linear 1 forwards;
}
#particles-js{
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* display: none; */

}
#particles-js.is-active{
  display: block;
}
@keyframes appearAndDisappear{
  0%{
    opacity: 0;
    visibility: hidden;
  }
  30%{
    opacity: 1;
    visibility: visible;
  }60%{
    opacity: 0.7;
  }100%{
    opacity:0;
    visibility: hidden;
  }
}

.incorrect{
  position: absolute;
  width: 100px;
  height: 100px;
  opacity: 0;
  visibility: hidden;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.incorrect::before{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  content: "";
  display: block;
  width: 15px;
  height: 100%;
  background: #38f;
}
.incorrect::after{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) rotate(-45deg);
  content: "";
  display: block;
  width: 15px;
  height: 100%;
  background: #38f;
}
.incorrect.is-active{
  animation: appearAndDisappear 1.5s linear 1 forwards;
}
input[name="answer"]{
  margin-right: 5px;
}
.quiz-finished{
  position: fixed;
  content: "";
  display: block;
  width: 60vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -100%);
  transition: transform 0.4s ease-in;
  opacity: 0;
  visibility: hidden;
}
.quiz-finished.is-active{
  opacity: 1;
  visibility: visible;
  transform: translate(-50%,-50%);
}
