<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <title><%= myTitle %></title>
</head>
<body>

<header class="l-header">
    <div class="header-inner flex justify-between items-center content-center p-5 bg-white shadow-gray-400">
        <button class="space-y-2 lg:hidden">
            <span class="block w-8 h-0.5 bg-gray-600"></span>
            <span class="block w-8 h-0.5 bg-gray-600"></span>
            <span class="block w-8 h-0.5 bg-gray-600"></span>
        </button>
        <div class="block w-100 bg-gray-100 p-1">LOGOLOGLOG</div>
        <ul class="menu-list">
            <li class="">
               <a href="" class="">MENU</a>
            </li>
            <li class="">
               <a href="" class="">MENU</a>
            </li>
            <li class="">
               <a href="" class="">MENU</a>
            </li>
        </ul>
        <div>
            <input type="search" id="search" class="hidden">
            <label for="search"><i class="fa-solid fa-magnifying-glass text-2xl"></i></label>
        </div>
    </div>
</header>
